body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

section {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    /* margin-bottom: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    color: #555;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.hadline {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

/* Add additional styles as needed */
